

    .card{
      width: 260px;
      height: 200px;
      background-color: rgb(231, 218, 195) !important;
      align-self: center;     
      display: flex;
      border: solid 0.5px ;
      border-radius: 10px !important;
      margin:0 auto;
      box-sizing: border-box;

    
   
  
     
    
    
    h3{
        font-size: 2.2rem;
        font-weight: 500;
    }
    .top{display: flex;
        margin: 10px;
        justify-content: center;
        align-items: center;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;

    }
    h5 {
        font-size: 16px;
        margin-bottom: 5px;
      }
  }
    .testimonial-details {
      text-align: center;
      padding: 10px 10px;
      box-sizing: border-box;
  
     
  
      .rating {
        margin-bottom: 5px;
  
        .star {
          color: #ffd700;
          font-size: 16px;
          margin-right: 2px;
  
          &.filled {
            color: #ffd700;
          }
        }
      }
  
      p {
        font-size: 14px;
        word-break: break-all;
        
      }
    }
  }
 

  @media screen and (min-width: 420px) {
    .swiper-container {
      width: 420px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .swiper-container {
      width: 768px;
    }
  }
  @media screen and (min-width: 900px) {
    .swiper-container {
      width: 900px;
    }
  }