.gigCard {
  display: flex;
  width: 400px;
  max-height: 320px;
  
  padding-bottom: 60px;
  position: relative;
  //border-radius: 10px;
  margin: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  img {
    width: 100%;
    max-height: 110px;
    border-radius: 10px;
    
    object-fit: cover;
    overflow: contain;
  }

  .promo-badge {
    position: absolute;
    top: 75px;
    right: 6px;
    background-color: rgb(22, 6, 6);
    border-radius: 20px;    
    padding: 5px 8px;
    
      .promo-badge-text1{
        color: white;
      font-size: 14px;  
      }
      .promo-badge-text2{
        color: rgb(223, 247, 11);
      font-size: 12px;
      
  
      }
     


   
  }

  .info {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .user {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        object-fit: cover;
      }

      span {
        font-size: 1.2rem;
      }
    }

    p {
      color: #111;
    }
    .linki {
      text-decoration: none; /* Remove the underline by default */
    }
    
    .linki:hover {
      text-decoration: underline; /* Add underline on hover */
    }
    

    .star {
      display: flex;
      align-items: center;
      gap: 5px;
      color: #111;
      background-color: rgb(253, 253, 253);

      img {
        height: 14px;
        width: 14px;
      }

      span {
        font-size: 14px;
        color: #ffc108;
      }
    }
  }



  .details {
    display: flex;
    justify-content: flex-start;
    position: relative;

    img {
      width: 14px;
      height: 14px;
      cursor: pointer;
      object-fit: contain;
   
    
    }

    .price {
      //display: inline-flex; 
     //gap: 4px;
   
      
      span {
        color: #222325;
        font-size: 14px;
      
        
      }

      h4 {
        color: #222325;
        font-size: 16px;
        font-weight: 700;
      }

    }
  }
}


/* color codes 
#e36b09 orange
#2c78ba blue
H000000 black
#aaaaaa grey1
#bbbbbb grey2
#cccccc grey3*/