.login {
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    width: auto; /* Adjust the width for smaller screens */
    max-width: 360px; /* Limit the maximum width for larger screens */
    padding: 20px; /* Adjust the padding for smaller screens */
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1 {
      color: #2c78ba;
      font-size: 2.2rem;
      text-align: center; /* Center the text */
    }

    label {
      color: gray;
      font-size: 1.8rem;
    }

    input,
    textarea {
      padding: 10px;
      border: 1px solid rgb(216, 214, 214);
      font-size: 1.8rem;
      border-radius: 5px;
      width: auto;
    }

    button {
      border: none;
      padding: 10px;
      color: white;
      font-weight: 500;
      font-size: 1.8rem;
      background-color: #e36b09;
      border-radius: 5px;
      cursor: pointer;
      width: auto;
    }

    span {
      color: red;
      font-size: 1.2rem;
    }

    div {
      a {
        font-size: 1.4rem;
        margin: 10px 0; /* Add margin for spacing */
        text-align: center; /* Center the text */
      }
    }
  }

  @media (max-width: 768px) {
    /* Adjust the styling for screens with a maximum width of 768px (typical tablet and smaller screens) */
    form {
      padding: 10px;
      gap: 10px;

      h1 {
        font-size: 1.8rem;
      }

      label {
        font-size: 1.4rem;
      }

      input,
      textarea {
        font-size: 1.4rem;
        padding: 8px;
      }

      button {
        font-size: 1.6rem;
        padding: 8px;
        width: 50%;
      }

      span {
        font-size: 1rem;
      }

      div {
        a {
          font-size: 1.2rem;
        }
      }
    }
  }
}

/* color codes 
#e36b09 orange
#2c78ba blue
H000000 black
#aaaaaa grey1
#bbbbbb grey2
#cccccc grey3 */