.footer{
    p{ font-size: 1.6rem; color: rgb(202, 197, 197);}
    a{font-size: 1.6rem; color: rgb(202, 197, 197); text-decoration: none;}
    span{font-size: 1.6rem; }

    
    
    
    }
    
    
    /* color codes 
    #e36b09 orange
    #2c78ba blue
    H000000 black
    #aaaaaa grey1
    #bbbbbb grey2
    #cccccc grey3*/
    


