.forgot-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 50vh;


    form{
        label{
            font-size: 1.8rem;

        }
        input, textarea {
            font-size: 1.6rem;

        }
        p{
            font-size: 1.6rem;
        }
        button{
            font-size: 1.6rem;
        }

    }
}