.gig{
    display: flex;
    justify-content: center;

    .container {
        width: 1100px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0px 0px;

        .upperSide{
            width: 1100px;
            display: flex;
            gap: 10px;
            padding: 20px 0px;
            margin-top: 20px;

        .left{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 50%;
  

            .breadcrumbs{
                font-family: 300; font-size: 13px; color: #555;
            }

            .user{
                gap: 10px;
                display: flex; align-items: center;

                .pp{
                    width: 32px; height: 32px; border-radius: 50%;
                }
                span{ font-size: 14px; font-weight: 500; }

               .stars{
                display: flex; align-items: center; gap: 5px;

                img{display: flex;
                    width: 14px; height: 14px;
                }
                span{ font-size: 14px; font-weight: bold; color:#e36b09; };
               }
            }

            .background-images{
                display: flex;
                justify-content: center;
                align-items: center;

                img{height: 360px; object-fit: contain;}
            }

            h2{font-weight: 400;}
            p{font-weight: 300; color:#555;
            line-height: 25px;}

            .seller{
                margin-top: 50px; display: flex; flex-direction: column;
                gap: 20px;

                .user{
                    gap: 20px; display: flex; align-items: center;    
                
                img{
                    width: 100px; height: 100px; border-radius: 50%;
                    object-fit: cover;
                }
                .info{
                    display: flex; flex-direction: column; gap: 10px;

                            
                    .stars {
                        display: flex;
                        align-items: center;
                        gap: 5px;
          
                        img {
                          height: 14px;
                          width: 14px;
                        }
                    }
                       
                          span{ font-size: 14px; font-weight: bold; color:#e36b09;
                }
                }
                button {
                    background-color: #2c78ba ;
                    border-radius: 5px;
                    border: 1px solid gray;
                    padding: 10px; cursor: pointer;
                    color: white;

                    
                  }
            
                 
            }

        
            }
            .box{
                border: .5px solid gray;
                border-radius: 10px; margin-top: 20px; padding: 20px; 

                .items{
                    display: flex; flex-wrap: wrap;
                    justify-content: space-between;

                    .item{
                        width: 200px; 
                        display: flex; flex-direction: column;
                        gap: 10px; margin-bottom: 20px;

                        .title{
                            font-weight: 200; color: darkgray;
                        }

                        .desc{
                            font-weight: 500; color:#555
                        }
                    }
                }
                    hr{
                        height: 0; border: 1px solid lightgray;
                        margin-bottom: 20px;
                    }
                    
            }
            
        
    }
    .right{
       display: flex;
       flex: 1;      
        justify-content: center; 
        flex-direction: column;       
        align-items: center;
       margin-top: 60px;
       width: 50%;
       
       

        .pricingTab{
            h2{
                font-weight: 500;
            }
        
           
        }

        .comparePackage{
            margin-top: 20px;
            padding: 20px 0px;
            justify-content: center;

            h3{
                font-weight: 600;
               text-align: center;
               font-size: 2rem;
            }
        }
    }
    .faq{
        display: flex;
        width: 1100px;


      }
      
  }
  .recommended-services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    //flex-wrap: wrap;
    margin: 20px 0px;

    .recommend{
        display: flex;
        gap: 20px;
    }
  
  }
  .browsing-history{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    flex-wrap: wrap;
    margin: 20px 0px;

    .history{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
  
  }
}
}
        
