


    .Tabs {
       // width: fit-content;
        height: 520x;
        background: white;
        padding: 30px 5px;
        color: #555;
        border: 1px solid gray;
        justify-content: center;
        align-items: center;
        width: 100%;
        
       ul{
        
            width: 100%;
            height: 60px;
           
            display: flex;
            align-items: center;
            justify-content: center;
           // border: 1px solid #39A2DB;
            border-radius: 5px;
            font-size: 2.0rem;
            font-weight: 500;
            margin-bottom: 20px;


            li {
                width: 33.33%;
                height: 50px;
                padding: 5px;
                list-style: none;
                text-align: center;
                cursor: pointer;
                transition: all 0.7s;
                border-bottom-left-radius: 32px;
                border-top-left-radius: 32px;
                align-items: center;
                justify-content: center;
                display: flex; 
               // margin-bottom:  20px;           
           
          }
          li:nth-child(2) {
            border-radius: 0;
            align-items: center;
            display: flex;
            justify-content: center; 
            width: 33.33%;
                height: 50px;
                padding: 5px;
                list-style: none;
                text-align: center;
                cursor: pointer;
                transition: all 0.7s;           



           
          }
          li:nth-child(3) {
            border-radius: 0;
            border-bottom-right-radius: 32px;
            border-top-right-radius: 32px;
            height: 50px;
            align-items: center;
            justify-content: center;
            display: flex;  
            width: 33.33%;
                height: 50px;
                padding: 5px;
                list-style: none;
                text-align: center;
                cursor: pointer;
                transition: all 0.7s;          



          }
          li:hover {
            background: lightskyblue;
          }
          li.active {
            background: lightskyblue;
          }
      
       }
    
    }



    .FirstTab, .SecondTab, .ThirdTab{
        display: flex; 
        flex: 1;
        flex-direction: column;
        width: 100%;
        padding: 0px 10px
        
         p {
           
          font-size: 16px;
          text-align: center;
          color:#39A2DB;
          margin-bottom: 10px;
          
        }
        .p{
            white-space: nowrap; /* Prevents the text from wrapping by default */
         overflow: hidden; /* Hides any overflowing content */
         text-overflow: ellipsis; /* Adds an ellipsis (...) to indicate truncated text */

        }

        .price {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px 10px;
            h3{
                font-weight: 300;
            }
            h2{
                font-weight: 500;
            }
        }
        p{
            color: darkgray; margin: 0px 0px 10px;
            

            

        }
        .details{
            display: flex; 
            justify-content: space-between;
            flex-direction: column;
            font-size: 14px;

            .item{
                display: flex; align-items: center;
                gap: 10px;

                img{
                    width: 20px; 
                }
                span{
                    font-size: 16px; font-weight: 300;
                };

            }
        }
        .features{
            display: flex; flex-direction: column;
            gap: 12px;
            margin: 15px 0px;
            ;
            .bground{
                background-color: #e36b09;
               }
            .item{
                display: flex; align-items: center;
                gap: 20px; font-weight: 300;
                color: gray;
                //margin: 5px 0px;

                img{
                    width: 14px;
                }
             
            }
            
        }
        button{
            background-color: #2c78ba;
            color: #fff; font-size: 18px;
            padding: 10px;
            border: none;
            font-weight: 500; 
            cursor: pointer;
            margin: 20px 5px 0px;

        
        }
        .link-button{
            background-color: #2c78ba;
            color: #fff; font-size: 18px;
            padding: 10px;
            border: none;
            font-weight: 500; 
            cursor: pointer;
            margin: 20px 5px 0px;
            text-align: center;
            text-decoration: none;
           
        }
        
    }

 




    /* color codes 
#e36b09 orange
#2c78ba blue
H000000 black
#aaaaaa grey1
#bbbbbb grey2
#cccccc grey3*/